{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{{title}}</title>
    <link rel="icon" href="{% static 'food/img/xcheat-app-icon.png'%}">
    <link rel="stylesheet" href="{% static 'food/bootstrap/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alatsi&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Averia+Libre&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Averia+Sans+Libre&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Averia+Serif+Libre&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Azeret+Mono&amp;display=swap">
    <link rel="stylesheet" href="{% static 'food/css/Hero-Clean-Reverse.css'%}">
    <link rel="stylesheet" href="{% static 'food/css/Navbar-Right-Links-Dark.css'%}">
    <link rel="stylesheet" href="{% static 'food/css/styles.css'%}">
    
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    {% include "components/header.html" %}
    {% include "components/searchbar.html" %}
    <div class="container py-4 py-xl-5">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2>По запросу: "{{query}}" было найдено {{foodLength}} продуктов.</h2>
            </div>
        </div>
        <div class="row gy-4 row-cols-3 row-cols-md-2 row-cols-xl-5 d-flex justify-content-center">
            {%for item in searchedItems%}
                {% include "components/food_card.html"%}
            {%endfor%}
        </div>
    </div>
    <script src="{% static 'food/js/view-more.js' %}"></script>
    {% include "components/footer.html"%}
    <script src="{% static 'food/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'food/js/bs-init.js'%}"></script>
</body>

</html>